{% assign active_array = include.active | split: '' %}
<table class="table table-bordered table-light talents-table">
  <tbody>
    <tr>
      <th scope="row">15</th>
      <td{% if active_array[0] == '1' %} class="talent-active"{% endif %}>
        <a href="https://ru.wowhead.com/spell=334046" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true"></a>
      </td>
      <td{% if active_array[0] == '2' %} class="talent-active"{% endif %}>
        <a href="https://ru.wowhead.com/spell=262647" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true"></a>
      </td>
      <td{% if active_array[0] == '3' %} class="talent-active"{% endif %}>
        <a href="https://ru.wowhead.com/spell=117014" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true"></a>
      </td>
    </tr>
    <tr>
      <th scope="row">25</th>
      <td{% if active_array[1] == '1' %} class="talent-active"{% endif %}>
        <a href="https://ru.wowhead.com/spell=344357" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true"></a>
      </td>
      <td{% if active_array[1] == '2' %} class="talent-active"{% endif %}>
        <a href="https://ru.wowhead.com/spell=201900" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true"></a>
      </td>
      <td{% if active_array[1] == '3' %} class="talent-active"{% endif %}>
        <a href="https://ru.wowhead.com/spell=342240" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true"></a>
      </td>
    </tr>
    <tr>
      <th scope="row">30</th>
      <td{% if active_array[2] == '1' %} class="talent-active"{% endif %}>
        <a href="https://ru.wowhead.com/spell=260878" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true"></a>
      </td>
      <td{% if active_array[2] == '2' %} class="talent-active"{% endif %}>
        <a href="https://ru.wowhead.com/spell=974" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true"></a>
      </td>
      <td{% if active_array[2] == '3' %} class="talent-active"{% endif %}>
        <a href="https://ru.wowhead.com/spell=265046" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true"></a>
      </td>
    </tr>
    <tr>
      <th scope="row">35</th>
      <td{% if active_array[3] == '1' %} class="talent-active"{% endif %}>
        <a href="https://ru.wowhead.com/spell=210853" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true"></a>
      </td>
      <td{% if active_array[3] == '2' %} class="talent-active"{% endif %}>
        <a href="https://ru.wowhead.com/spell=334195" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true"></a>
      </td>
      <td{% if active_array[3] == '3' %} class="talent-active"{% endif %}>
        <a href="https://ru.wowhead.com/spell=333974" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true"></a>
      </td>
    </tr>
    <tr>
      <th scope="row">40</th>
      <td{% if active_array[4] == '1' %} class="talent-active"{% endif %}>
        <a href="https://ru.wowhead.com/spell=30884" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true"></a>
      </td>
      <td{% if active_array[4] == '2' %} class="talent-active"{% endif %}>
        <a href="https://ru.wowhead.com/spell=196884" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true"></a>
      </td>
      <td{% if active_array[4] == '3' %} class="talent-active"{% endif %}>
        <a href="https://ru.wowhead.com/spell=192077" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true"></a>
      </td>
    </tr>
    <tr>
      <th scope="row">45</th>
      <td{% if active_array[5] == '1' %} class="talent-active"{% endif %}>
        <a href="https://ru.wowhead.com/spell=192246" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true"></a>
      </td>
      <td{% if active_array[5] == '2' %} class="talent-active"{% endif %}>
        <a href="https://ru.wowhead.com/spell=320137" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true"></a>
      </td>
      <td{% if active_array[5] == '3' %} class="talent-active"{% endif %}>
        <a href="https://ru.wowhead.com/spell=197214" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true"></a>
      </td>
    </tr>
    <tr>
      <th scope="row">50</th>
      <td{% if active_array[6] == '1' %} class="talent-active"{% endif %}>
        <a href="https://ru.wowhead.com/spell=262624" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true"></a>
      </td>
      <td{% if active_array[6] == '2' %} class="talent-active"{% endif %}>
        <a href="https://ru.wowhead.com/spell=188089" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true"></a>
      </td>
      <td{% if active_array[6] == '3' %} class="talent-active"{% endif %}>
        <a href="https://ru.wowhead.com/spell=114051" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true"></a>
      </td>
    </tr>
  </tbody>
</table>

