<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <h2 class="footer-heading" style="text-align:right;">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper row">
      <div class="footer-col footer-col-1">
        <a href="{{ site.discord_invite }}" target="blank"><img src="{{ '/assets/img/logos/discord.png' | relative_url }}" class="mh-50" alt="Водоворот" style="vertical-align: text-top;"/></a>
      </div>

      <div class="footer-col footer-col-2">
        <a href="https://youtube.com/channel/UC5IikzgR1TeED-DxPLqISHg"><img src="{{ '/assets/img/logos/youtube.png' | relative_url }}" class="mh-50" alt="Amani Youtube" style="vertical-align: text-top;" /></a>
      </div>

      <div class="footer-col footer-col-3">
        <a href="https://www.patreon.com/amani_vodovorot"><img src="/assets/img/logos/patreon.png" class="mh-50" alt="Patreon" style="vertical-align: text-top;"/></a>
      </div>
    </div>

  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

</footer>
