<header class="site-header sticky-top" role="banner">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}


    <nav class="navbar navbar-expand-sm">
      <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
        <img src="/assets/img/logos/sk.png" style="float:left; max-height:60px;" /></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">

          {%- for category in site.data.site_structure.categories -%}
            <li class="nav-item dropdown">
              {%- if category.url -%}
              <a class="nav-link dropdown-toggle" role="button" href="{{ category.url }}" id="{{ category.title }}" data-toggle="dropdown" data-display="static">{{ category.title }}</a>
              {%- else -%}
              <span class="nav-link dropdown-toggle" role="button" id="{{ category.title }}" data-toggle="dropdown" data-display="static">{{ category.title }}</span>
              {%- endif -%}
              <ul class="dropdown-menu dropdown-menu-right dropdown-menu-xl-left">
                {%- for subcategory in category.subcategories -%}
                {%- if subcategory.url and subcategory.subsubcategories == nil -%}

                {%- if subcategory.divided -%}
                  <li class="dropdown-divider"></li>
                {%- endif -%}

                {%- if subcategory.disabled -%}
                  <li><span class="dropdown-item disabled">{{ subcategory.title }}</span></li>
                {%- else -%}
                  <li><a class="dropdown-item" href="{{ subcategory.url }}">{{ subcategory.title }}</a></li>
                {%- endif -%}


                {%- else -%}
                  {%- if subcategory.url -%}
                  <li><a class="dropdown-item dropdown-toggle" href="{{ subcategory.url }}" id="subcat">{{ subcategory.title }} </a>
                  {%- else -%}
                  <li><span class="dropdown-item dropdown-toggle">{{ subcategory.title }} </span>
                  {%- endif -%}
                  <ul class="submenu dropdown-menu">
                  {%- for subsubcategory in subcategory.subsubcategories -%}

                  {%- if subsubcategory.divided -%}
                    <li class="dropdown-divider"></li>
                  {%- endif -%}

                  {%- if subsubcategory.disabled -%}
                    <li><span class="dropdown-item disabled">{{ subsubcategory.title }}</span></li>
                  {%- else -%}
                    <li><a class="dropdown-item" href="{{ subsubcategory.url }}">{{ subsubcategory.title }}</a></li>
                  {%- endif -%}

                  {%- endfor -%}
                  </ul></li>
                {%- endif -%}

                {%- endfor -%}
              </ul>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    </nav>

  </div>
</header>
