{% assign active_array = include.active | split: '' %}
<table class="table table-bordered table-light talents-table">
  <tbody>
    <tr>
      <th scope="row">15</th>
      <td{% if active_array[0] == '1' %} class="talent-active"{% endif %}>
        <a href="https://ru.wowhead.com/spell=200072" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true"></a>
      </td>
      <td{% if active_array[0] == '2' %} class="talent-active"{% endif %}>
        <a href="https://ru.wowhead.com/spell=200071" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true"></a>
      </td>
      <td{% if active_array[0] == '3' %} class="talent-active"{% endif %}>
        <a href="https://ru.wowhead.com/spell=73685" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true"></a>
      </td>
    </tr>
    <tr>
      <th scope="row">25</th>
      <td{% if active_array[1] == '1' %} class="talent-active"{% endif %}>
        <a href="https://ru.wowhead.com/spell=108283" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true"></a>
      </td>
      <td{% if active_array[1] == '2' %} class="talent-active"{% endif %}>
        <a href="https://ru.wowhead.com/spell=200076" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true"></a>
      </td>
      <td{% if active_array[1] == '3' %} class="talent-active"{% endif %}>
        <a href="https://ru.wowhead.com/spell=320746" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true"></a>
      </td>
    </tr>
    <tr>
      <th scope="row">30</th>
      <td{% if active_array[2] == '1' %} class="talent-active"{% endif %}>
        <a href="https://ru.wowhead.com/spell=260878" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true"></a>
      </td>
      <td{% if active_array[2] == '2' %} class="talent-active"{% endif %}>
        <a href="https://ru.wowhead.com/spell=51485" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true"></a>
      </td>
      <td{% if active_array[2] == '3' %} class="talent-active"{% endif %}>
        <a href="https://ru.wowhead.com/spell=265046" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true"></a>
      </td>
    </tr>
    <tr>
      <th scope="row">35</th>
      <td{% if active_array[3] == '1' %} class="talent-active"{% endif %}>
        <a href="https://ru.wowhead.com/spell=207401" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true"></a>
      </td>
      <td{% if active_array[3] == '2' %} class="talent-active"{% endif %}>
        <a href="https://ru.wowhead.com/spell=198838" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true"></a>
      </td>
      <td{% if active_array[3] == '3' %} class="talent-active"{% endif %}>
        <a href="https://ru.wowhead.com/spell=207399" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true"></a>
      </td>
    </tr>
    <tr>
      <th scope="row">40</th>
      <td{% if active_array[4] == '1' %} class="talent-active"{% endif %}>
        <a href="https://ru.wowhead.com/spell=30884" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true"></a>
      </td>
      <td{% if active_array[4] == '2' %} class="talent-active"{% endif %}>
        <a href="https://ru.wowhead.com/spell=192088" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true"></a>
      </td>
      <td{% if active_array[4] == '3' %} class="talent-active"{% endif %}>
        <a href="https://ru.wowhead.com/spell=192077" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true"></a>
      </td>
    </tr>
    <tr>
      <th scope="row">45</th>
      <td{% if active_array[5] == '1' %} class="talent-active"{% endif %}>
        <a href="https://ru.wowhead.com/spell=280614" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true"></a>
      </td>
      <td{% if active_array[5] == '2' %} class="talent-active"{% endif %}>
        <a href="https://ru.wowhead.com/spell=207778" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true"></a>
      </td>
      <td{% if active_array[5] == '3' %} class="talent-active"{% endif %}>
        <a href="https://ru.wowhead.com/spell=157153" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true"></a>
      </td>
    </tr>
    <tr>
      <th scope="row">50</th>
      <td{% if active_array[6] == '1' %} class="talent-active"{% endif %}>
        <a href="https://ru.wowhead.com/spell=157154" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true"></a>
      </td>
      <td{% if active_array[6] == '2' %} class="talent-active"{% endif %}>
        <a href="https://ru.wowhead.com/spell=197995" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true"></a>
      </td>
      <td{% if active_array[6] == '3' %} class="talent-active"{% endif %}>
        <a href="https://ru.wowhead.com/spell=114052" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true"></a>
      </td>
    </tr>
  </tbody>
</table>

