{%- assign is_guide = false -%}
{%- for main_category in site.data.site_structure.categories -%}
  {%- for sub_category in main_category.subcategories -%}

    {%- if sub_category.subsubcategories -%}
    {%- for sub_sub_category in sub_category.subsubcategories -%}

    {%- if sub_sub_category.url == page.url -%}
      {%- assign is_guide = true -%}

      <div class="side-menu" id="tocbar">
        <h3>{{- main_category.title }} &ndash; Гайд</h3>
        <ul>

          {%- for sibling in sub_category.subsubcategories -%}
            {%- if sibling.url == page.url -%}
            <li><b><a class="side-menu-link" href="{{- sibling.url -}}">{{- sibling.title -}}</a></b></li>
            {%- else -%}
            {%- if sibling.disabled == true -%}
            <li><span class="side-menu-link" style="color:rgb(158, 150, 137)">{{- sibling.title -}}</span></li>
            {%- else -%}
            <li><a class="side-menu-link" href="{{- sibling.url -}}">{{- sibling.title -}}</a></li>
            {%- endif -%}
            {%- endif -%}
          {%- endfor -%}

        </ul>

      </div>
      {%- break -%}
    {%- endif -%}
    {%- endfor -%}
    {%- endif -%}

  {%- endfor -%}
{%- endfor -%}

{%- if is_guide == false -%}
    {%- if page.toc == true -%}
      <nav class="navbar side-menu side-toc" id="tocbar">
        <h3>Содержание</h3>
        {% assign pcontent = page.content | markdownify %}
        {%- include toc.html html=pcontent class="nav .nav-pills .flex-column" a_class="nav-link" item_class="nav-item" h_max=3 -%}
      </nav>
    {%- endif -%}
{%- endif -%}
