{%- for main_category in site.data.site_structure.categories -%}
  {%- for sub_category in main_category.subcategories -%}

    {%- if sub_category.subsubcategories -%}
    {%- for sub_sub_category in sub_category.subsubcategories -%}

    {%- if sub_sub_category.url == page.url -%}

      <div class="side-menu">
        <h3>{{- main_category.title }} &ndash; Гайд</h3>
        <ul>

          {%- for sibling in sub_category.subsubcategories -%}
            {%- if sibling.url == page.url -%}
            <li><b><a class="side-menu-link" href="{{- sibling.url -}}">{{- sibling.title -}}</a></b></li>
            {%- else -%}
            {%- if sibling.disabled == true -%}
            <li><span class="side-menu-link" style="color:rgb(158, 150, 137)">{{- sibling.title -}}</span></li>
            {%- else -%}
            <li><a class="side-menu-link" href="{{- sibling.url -}}">{{- sibling.title -}}</a></li>
            {%- endif -%}
            {%- endif -%}
          {%- endfor -%}

        </ul>

      </div>
    {%- endif -%}
    {%- endfor -%}
    {%- endif -%}

  {%- endfor -%}
{%- endfor -%}
