{%- for main_category in site.data.site_structure.categories -%}
  {%- for sub_category in main_category.subcategories -%}

    {%- if sub_category.url == page.url -%}

      <div class="side-menu">
        <h3>{{- main_category.title -}}</h3>
        <ul>

          {%- for sibling in main_category.subcategories -%}
            <li><a class="side-menu-link" href="{{- sibling.url -}}">{{- sibling.title -}}</a></li>
          {%- endfor -%}

        </ul>

      </div>
    {%- endif -%}

  {%- endfor -%}
{%- endfor -%}
