{% assign active_array = include.active | split: '' %}

{% if include.lang %}
  {% assign lang = include.lang %}
{% else %}
  {% assign lang = "ru" %}
{% endif %}

{% if include.row %}
  {% assign includerow = include.row | minus: 1 %}
{% endif %}

<table class="table table-bordered table-light talents-table">
  <tbody>

{% for row in include.data.talents %}

{% if includerow and forloop.index0 != includerow %}
  {% continue %}
{% endif %}

  <tr{% if include.switch == true %} class="rotation_switches"{% endif %}>
    <th scope="row">{{ row.row }}</th>
  {% assign rowInd = forloop.index0 %}
  {% for talent in row.talents %}
    {% if include.row %}
      {% assign talentInd = "1" %}
      {% assign rowInd = forloop.index0 %}
    {% else %}
      {% assign talentInd = forloop.index | downcase %}
    {% endif %}
    <td{% if active_array[rowInd] == talentInd %} class="talent-active"{% endif %}
          {% if include.switch == true %} class="rotation_switch" id="rotation_switch_{{ talent.tag }}"{% endif %}>

      {%- if include.switch == true %}
      <input type="radio" name="{{ row.row }}" id="{{ talent.tag }}-radio" style="display:none;"
             {% if active_array[rowInd] == talentInd %} checked{% endif %}>
      <label for="{{ talent.tag }}-radio">
      {% endif -%}

      <a href="https://{{ lang }}.wowhead.com/spell={{ talent.id }}" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true"
         {% if include.switch == true %} class="switch-link"{% endif %}></a>

      {%- if include.switch == true %}
      </label>
      {% endif -%}

    </td>
  {% endfor %}
  </tr>
{% endfor %}
  </tbody>
</table>

{% if include.switch == true %}
{% assign covenant_colors = '#68ccef,#ff4040,#a330c9,#40bf40' | split: ',' %}
<table class="table table-bordered table-light talents-table">
  <tbody>
  <tr class="rotation_switches">
{% for talent in site.data.talents.common.covenant_talents %}
    <td class="rotation_switch covenants" id="rotation_switch_{{ talent.tag }}" style="border-bottom: 2px solid {{ covenant_colors[forloop.index0]}};">
      <input type="radio" name="covenants" id="{{ talent.tag }}-radio" style="display:none;" covenant="{{ talent.cov }}"
      {% if include.data.covenant == talent.cov %} checked{% endif %}>
      <label for="{{ talent.tag }}-radio">
        <a href="https://{{ lang }}.wowhead.com/spell={{ talent.id }}" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true" class="switch-link"></a>
      </label>
    </td>
{% endfor %}
  </tr>
  </tbody>
</table>

{% if include.data.legendaries %}
<table class="table table-bordered table-light talents-table">
  <tbody>
  <tr class="rotation_switches">
{% for legendary in include.data.legendaries %}
    <td class="rotation_switch covenants" id="rotation_switch_{{ legendary.tag }}">
      <input type="radio" name="legendaries" id="{{ legendary.tag }}-radio" style="display:none;"
      {% if legendary.default %} checked{% endif %}>
      <label for="{{ legendary.tag }}-radio">
        <a href="https://{{ lang }}.wowhead.com/spell={{ legendary.id }}" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true" class="switch-link"></a>
      </label>
    </td>
{% endfor %}
  </tr>
  <tr class="rotation_switches">
{% for legendary in site.data.talents.common.covenant_legendaries %}
    <td class="rotation_switch covenants" id="rotation_switch_{{ legendary.tag }}" style="border-bottom: 2px solid {{ covenant_colors[forloop.index0]}};">
      <input type="radio" name="legendaries" id="{{ legendary.tag }}-radio" style="display:none;" covenant="{{ legendary.tag | split: '_' | last }}"
      {% if legendary.default %} checked{% endif %}>
      <label for="{{ legendary.tag }}-radio">
        <a href="https://{{ lang }}.wowhead.com/spell={{ legendary.id }}" target="blank" data-wh-icon-size="medium" data-wh-rename-link="true" class="switch-link"></a>
      </label>
    </td>
{% endfor %}
  </tr>
  </tbody>
</table>
{% endif %}
{% endif %}
