<script src= "https://player.twitch.tv/js/embed/v1.js"></script>

  <div id="twitch" class="hide">
    <!-- <input id="close-button" type="button" value="X"></div> -->
  <a href="#" id="close-button" onclick='this.parentNode.parentNode.removeChild(this.parentNode)'>
    <img src="/assets/img/close-button-icon.svg" />
  </a>
  </div>
  <script type="text/javascript">
    if ($(window).width() > 992) {
        var options = {
            channel: "amanizandalari",
            width: 400,
            height: 300,
            muted: true,
        };
        var player = new Twitch.Player("twitch", options);
        var embed = document.getElementById("twitch");
        var closebtn = document.getElementById("close-button");

        embed.addEventListener('mouseover', (event) => {
            closebtn.style.display = 'block';
        });

        embed.addEventListener('mouseout', (event) => {
            closebtn.style.display = 'none';
        });

        player.addEventListener(Twitch.Player.READY, initiate)

        function initiate() {
            player.addEventListener(Twitch.Player.ONLINE, handleOnline);
            player.addEventListener(Twitch.Player.OFFLINE, handleOffline);
            player.removeEventListener(Twitch.Player.READY, initiate);
        }

        function handleOnline() {
            document.getElementById("twitch").classList.remove('hide');
            player.removeEventListener(Twitch.Player.ONLINE, handleOnline);
            player.addEventListener(Twitch.Player.OFFLINE, handleOffline);
            player.setMuted(true);
        }

        function handleOffline() {
            document.getElementById("twitch").classList.add('hide');
            player.removeEventListener(Twitch.Player.OFFLINE, handleOffline);
            player.addEventListener(Twitch.Player.ONLINE, handleOnline);
            player.setMuted(true);
        }
    }
  </script>
