@charset "utf-8";

// Define defaults for each variable.
//@font-face {
//    font-family: Thundercover;
//    src: url(fonts/Thundercover.ttf);
//}

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$mid-font-size:  $base-font-size * 0.9375 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #bbb !default;
$background-color: #262b39 !default;
//$background-color-dark:  darken($background-color, 5%) !default;
$background-color-dark:  #2f3136 !default;
$background-color-darker: #292b2f !default;
$brand-color:      #03a9f4 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 30%) !default;
$grey-color-mid: lighten($grey-color, 10%) !default;
$grey-color-dark:  darken($grey-color, 35%) !default;

$content-bg-color: #2c3141;
$header-bg-color: #1d222e;
$footer-bg-color: $header-bg-color;

$table-text-align: left !default;

// Width of the content area
$content-width:    850px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
