---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

// Top menu fixes
nav.navbar {
    padding: 0rem 0rem;
}
.nav-link { // Fix top menu hover
    margin-right: 20px;
    //color: $text-color;
    color: #f8fdfb;
    //-webkit-text-stroke: 0.5px #1e87b4;
    text-shadow: 0 0 6px #0098ff;
    font-size: 20px;
    font-weight: 450;
}
.nav-link:hover { // Fix top menu hover
    color: $text-color;
}
.nav-link:visited {
    //color: $text-color;
    color: #f8fdfb;
}
button.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
    margin-right: 10px;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
// Top menu color fixes
.dropdown-menu {
    color: $text-color;
    background: $header-bg-color;
    border: 1px solid $grey-color;
}
@media (min-width: 992px){
    .dropdown-menu .dropdown-toggle:after{
        border-top: .3em solid transparent;
        border-right: 0;
        border-bottom: .3em solid transparent;
        border-left: .3em solid;
    }
    .dropdown-menu .dropdown-menu{
        margin-left:0; margin-right: 0;
    }
    .dropdown-menu li{
        position: relative;
    }
    .navbar .nav-item > .dropdown-menu { display: none; }
    .navbar .nav-item:hover { color: #fff;  }
    .navbar .nav-item:hover > .dropdown-menu {  display: block; }    
    .navbar .nav-item > .dropdown-menu{ margin-top:0; }


    .nav-item .submenu{ 
        display: none;
        position: absolute;
        left:100%; top:-7px;
    }
    .nav-item .submenu-left{ 
        right:100%; left:auto;
    }
    .dropdown-menu > li:hover{ background-color: #262b38 }
    .dropdown-menu > li:hover > .submenu{
        display: block;
    }
}
.smart-scroll{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.scrolled-down{
    transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up{
    transform:translateY(0); transition: all 0.3s ease-in-out;
}

@media (max-width: 576px) {
    .dropdown-menu {
        margin: 0 10px;
    }
}

.dropdown-item {
    color: $text-color;
    line-height: $spacing-unit;
}
a.dropdown-item:visited {
    color: $text-color;
}
.dropdown-item:hover, a.dropdown-item:hover {
    color: $grey-color;
    background-color: $background-color;
}

.dropdown-toggle::after { // adjust drop down arrow to be slightly lower
    vertical-align: 0.18em;
}

// footer
.svg-icon { // Fix svg icon display in footer
    padding-right: 0px;
    margin-right: 5px;
}


pre code, code { // readd this to override bootstraps once again
    color: $text-color;
}

// set ul to always show squares
ul {
    list-style-type: square;
}


.highlighter-rouge .highlight { // fix block code
    background: #223;
}
.card {
    background-color: #222;
    border: 1px solid $grey-color-dark;
}
.card-header {
    border-bottom: 1px solid $grey-color-dark;
}
.card-header h5 button::after, .card-header h4 button::after, .card-header h3 button::after { // drop down symbol
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .18em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
.card-header h5 button.btn-link:hover, .card-header h5 button.btn-link:focus {
    text-decoration: none;
}
.accordion .card:first-of-type, .card:last-of-type {
    border-bottom: 1px solid $grey-color-dark;
}

// Side menu for all pages within a category. Lists all siblings
.side-menu {
    //background-color: $grey-color-dark;
    margin-left: $spacing-unit !important;
    margin-bottom: $spacing-unit !important;
    margin-top: 20px !important;
    padding-top: $spacing-unit / 2 !important;
    padding-bottom: $spacing-unit / 2 !important;
    padding-left: $spacing-unit / 2 !important;
    position: fixed !important;
    right: 1% !important;
    border-left: 3px solid $grey-color;
    width: 360px !important;
    h3 {
        @include relative-font-size(1.425);

        @include media-query($on-laptop) {
            @include relative-font-size(1.275);
        }
    }
}

@media only screen and (max-width: 1590px) {
    .side-menu { // hide side menu if we have to assume it would probably overlap the content
        display: none !important;
    }
}

@media only screen and (min-width: 1670px) {
    .side-menu { // adjust position to be closer to content
        right: 4% !important;
    }
}

@media only screen and (min-width: 1750px) {
    .side-menu { // adjust position to be closer to content
        right: 6% !important;
    }
}

@media only screen and (min-width: 1950px) { // +50px to ensure no overlap
    .side-menu { // adjust position to be closer to content
        right: 10% !important;
    }
}

@media only screen and (min-width: 2150px) { // +50px to ensure no overlap
    .side-menu { // adjust position to be closer to content
        right: 14% !important;
    }
}

@media only screen and (min-width: 2350px) { // +50px to ensure no overlap
    .side-menu { // adjust position to be closer to content
        right: 18% !important;
    }
}

@media only screen and (min-width: 2550px) { // +50px to ensure no overlap
    .side-menu { // adjust position to be closer to content
        right: 18% !important;
    }
}

@media only screen and (min-width: 2750px) { // +50px to ensure no overlap
    .side-menu { // adjust position to be closer to content
        right: 18% !important;
    }
}

.side-categorybar {
    //background-color: $grey-color-dark;
    margin-right: $spacing-unit !important;
    margin-bottom: $spacing-unit !important;
    margin-top: 20px !important;
    padding-top: $spacing-unit / 2 !important;
    padding-bottom: $spacing-unit / 2 !important;
    padding-right: $spacing-unit + $spacing-unit / 2 !important;
    position: fixed !important;
    left: 1% !important;
    border-right: 3px solid $grey-color;
    width: 360px !important;
    text-align: right;
    ul { direction: rtl; }
    ul li a { direction: ltr; unicode-bidi: embed; }
    h3 {
        @include relative-font-size(1.425);

        @include media-query($on-laptop) {
            @include relative-font-size(1.275);
        }
    }
}

@media only screen and (max-width: 1590px) {
    .side-categorybar { // hide side menu if we have to assume it would probably overlap the content
        display: none !important;
    }
}

@media only screen and (min-width: 1670px) {
    .side-categorybar { // adjust position to be closer to content
        left: 4% !important;
    }
}

@media only screen and (min-width: 1750px) {
    .side-categorybar { // adjust position to be closer to content
        left: 6% !important;
    }
}

@media only screen and (min-width: 1950px) { // +50px to ensure no overlap
    .side-categorybar { // adjust position to be closer to content
        left: 10% !important;
    }
}

@media only screen and (min-width: 2150px) { // +50px to ensure no overlap
    .side-categorybar { // adjust position to be closer to content
        left: 14% !important;
    }
}

@media only screen and (min-width: 2350px) { // +50px to ensure no overlap
    .side-categorybar { // adjust position to be closer to content
        left: 18% !important;
    }
}

@media only screen and (min-width: 2550px) { // +50px to ensure no overlap
    .side-categorybar { // adjust position to be closer to content
        left: 18% !important;
    }
}

@media only screen and (min-width: 2750px) { // +50px to ensure no overlap
    .side-categorybar { // adjust position to be closer to content
        left: 18% !important;
    }
}

.side-toc {
    ul {
        list-style-type: square;
    }

    .nav-link {
        text-shadow: none;
        font-weight: 400;
        text-decoration: none;
        color: $brand-color;
        font-size: 16px;
        display: unset;
        padding: 0;
    }

    .nav-link:hover {
        color: #fff;
    }
    .nav-link.active {
        background-color: transparent;
        color: $brand-color;
        font-weight: bolder;
    }
    display: block;
}


pre code, code { // readd this to override bootstraps once again
    color: $text-color;
}

// set ul to always show squares
ul {
    list-style-type: square;
}

.footer-col-1 {
    width: -webkit-calc(33% - (#{$spacing-unit} / 2));
    width:         calc(33% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(33% - (#{$spacing-unit} / 2));
    width:         calc(33% - (#{$spacing-unit} / 2));
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.footer-col-3 {
    text-align: right;
    float: right;
    width: -webkit-calc(33% - (#{$spacing-unit} / 2));
    width:         calc(33% - (#{$spacing-unit} / 2));
}

span.devider {
    margin: 0 5px;
}

.wowhead-tooltip > table > tbody > tr:nth-child(2) {
    background-color: transparent;
}

.youtube-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.youtube-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.guide-pic {
    box-shadow: 0 0 10px 0 black;
    border: 1px solid transparent;
}

.guide-pic:hover {
    box-shadow: 0 0 10px 0 $brand-color;
    border: 1px solid transparent;
    transform: translateY(-3px);
}
.guide-btn {
    color: $brand-color;
    border-color: $brand-color;
}

.guide-btn:hover {
    background-color: $brand-color;
    border-color: $brand-color;
}

//.offcanvas-header{ display:none; }
//
//@media (max-width: 992px) {
// .offcanvas-header{ display:block; }
// .navbar-collapse {
//   position: fixed;
//   top:0; 
//   bottom: 0;
//   left: 100%;
//   width: 100%;
//   height: 100%;
//   padding-right: 1rem;
//   padding-left: 1rem;
//   overflow-y: auto;
//   visibility: hidden;
//   background-color: black;
//   transition: visibility .2s ease-in-out, -webkit-transform .2s ease-in-out;
// }
// .navbar-collapse.show {
//   visibility: visible;
//   transform: translateX(-100%);
// }
//}
header {
    max-height: 100vh;
    //overflow: auto;
}

.dropdown-divider {
    border-color: #828282;
}

.talents-table {
    line-height: 0.75em;
    z-index: 2;

    td {
        //max-width: 60px;
        width: 31%;
        height: 60px;
        text-align: left;
        vertical-align: middle;
        padding: 0;
        background-color: #2e3444;
        border: 1px solid #363a3b;
    }

    td.talent-active {
        background-color: #393f56 !important;
        border: 1px double $brand-color;
    }

    td:not(.talent-active) {
        a {
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            color: gray;
        }
        a:hover {
            -webkit-filter: unset;
            filter: unset;
            color: $brand-color;
        }
    }

    th {
        max-width: 10px;
        background-color: #2e3444;
        border: 1px solid #363a3b;
        vertical-align: middle;
        color: #d1cdab;
    }

    a {
        font-size: 0.9em;
    }

    a:hover {
        text-decoration: none;
    }

    span.iconmedium {
        margin-left: 10px;
        margin-right: 10px;
        position: relative;
        display: inline-block;
    }

    span:not([class]) {
        display: inline-block;
        vertical-align: middle;
        max-width: 150px;
    }

    .iconmedium del {
        background-image: none !important;
    }
}

@media (max-width: 800px) {
    .talents-table {
        th {
            display: none;
        }

        td {
            text-align: center;
            vertical-align: top;
            height: 65px;
        }

        span:not([class]) {
            display: block;
            max-width: 100%;
        }
    }
}

td.rotation_switch {
    cursor: pointer;
}

td.rotation_switch label {
    margin: 0;
    cursor: pointer;
    display: block;
}

td.covenants {
    width: 25%;
    text-align: center;
    vertical-align: top;
    padding: 5px;
}

td.covenants span:not([class]) {
    display: block;
    max-width: 100%;
}

.bordered {
    border: 1px solid $text-color;
    padding: 10px;
    p {
        margin: 0px;
    }
}

.fcol-l {
    padding-right: 2.2rem!important;
}

.fcol-r {
    padding-left: 2.2rem!important;
    margin-left: auto;
}

@media (max-width: 600px) {
    .fcol-l {
        padding-right: 1.0rem!important;
    }
}
