---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

// Top menu fixes
nav.navbar {
  padding: 0rem 0rem;
}
.nav-link { // Fix top menu hover
  margin-right: 20px;
  //color: $text-color;
  color: #f8fdfb;
  -webkit-text-stroke: 0.5px #1e87b4;
  text-shadow: 0 0 10px #1e87b4;
  font-size: 20px;
  font-weight: 450;
  //border-bottom: 1px solid $background-color;
}
.nav-link:hover { // Fix top menu hover
  border-bottom: 1px solid $grey-color-light;
  color: $text-color;
}
.nav-link:visited {
  //color: $text-color;
  color: #f8fdfb;
}
button.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.1)
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
// Top menu color fixes
.dropdown-menu {
  color: $text-color;
  background: $header-bg-color;
  border: 1px solid $grey-color;
}

.dropdown-menu-ele {
  color: $text-color;
  background: $header-bg-color;
  border: 1px solid $grey-color;
}

.dropdown-menu-enh {
  color: $text-color;
  background: $header-bg-color;
  border: 1px solid $grey-color;
}

.dropdown-menu-resto {
  color: $text-color;
  background: $header-bg-color;
  border: 1px solid $grey-color;
}

.dropdown-item {
  color: $text-color;
  line-height: $spacing-unit;
}
a.dropdown-item:visited {
  color: $text-color;
}
.dropdown-item:hover, a.dropdown-item:hover {
  color: $grey-color;
  background-color: $background-color;
}

.dropdown-toggle::after { // adjust drop down arrow to be slightly lower
  vertical-align: 0.18em;
}

// footer
.svg-icon { // Fix svg icon display in footer
  padding-right: 0px;
  margin-right: 5px;
}

// Side menu for all pages within a category. Lists all siblings
.side-menu {
  //background-color: $grey-color-dark;
  margin-left: $spacing-unit;
  margin-bottom: $spacing-unit;
  padding-top: $spacing-unit / 2;
  padding-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2 ;
  position: fixed;
  right: 5%;
  border-left: 3px solid $grey-color;
}
@media only screen and (max-width: 1150px) {
  .side-menu { // hide side menu if we have to assume it would probably overlap the content
    display: none;
  }
}
@media only screen and (min-width: 1300px) {
  .side-menu { // adjust position to be closer to content
    right: 10%;
  }
}
@media only screen and (min-width: 1500px) {
  .side-menu { // adjust position to be closer to content
    right: 15%;
  }
}
@media only screen and (min-width: 1700px) {
  .side-menu { // adjust position to be closer to content
    right: 20%;
  }
}
@media only screen and (min-width: 1950px) { // +50px to ensure no overlap
  .side-menu { // adjust position to be closer to content
    right: 25%;
  }
}
pre code, code { // readd this to override bootstraps once again
  color: $text-color;
}

// set ul to always show squares
ul {
  list-style-type: square;
}


.highlighter-rouge .highlight { // fix block code
  background: #223;
}
.card {
  background-color: #222;
  border: 1px solid $grey-color-dark;
}
.card-header {
  border-bottom: 1px solid $grey-color-dark;
}
.card-header h5 button::after, .card-header h4 button::after, .card-header h3 button::after { // drop down symbol
  display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .18em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
.card-header h5 button.btn-link:hover, .card-header h5 button.btn-link:focus {
  text-decoration: none;
}
.accordion .card:first-of-type, .card:last-of-type {
  border-bottom: 1px solid $grey-color-dark;
}

// Side menu for all pages within a category. Lists all siblings
.side-menu {
  //background-color: $grey-color-dark;
  margin-left: $spacing-unit;
  margin-bottom: $spacing-unit;
  padding-top: $spacing-unit / 2;
  padding-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2 ;
  position: fixed;
  right: 5%;
  border-left: 3px solid $grey-color;
}
@media only screen and (max-width: 1330px) {
  .side-menu { // hide side menu if we have to assume it would probably overlap the content
    display: none;
  }
}
@media only screen and (min-width: 1500px) {
  .side-menu { // adjust position to be closer to content
    right: 10%;
  }
}
@media only screen and (min-width: 1700px) {
  .side-menu { // adjust position to be closer to content
    right: 15%;
  }
}
@media only screen and (min-width: 1950px) { // +50px to ensure no overlap
  .side-menu { // adjust position to be closer to content
    right: 20%;
  }
}

pre code, code { // readd this to override bootstraps once again
  color: $text-color;
}

// set ul to always show squares
ul {
  list-style-type: square;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}
.footer-col-2 {
  text-align: right;
  float: right;
  margin-left: auto;
  width: -webkit-calc(65% - (#{$spacing-unit} / 2));
  width:         calc(65% - (#{$spacing-unit} / 2));
}

.row {
    margin-right: 0;
}
