/**
 * Site header
 */
.site-header {
  //border-bottom: 1px solid $grey-color-dark;
  background-color: $header-bg-color;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  //position: relative;
}

.site-title {
  @include relative-font-size(1.825);
  font-weight: 350;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-light;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  background-color: $footer-bg-color;
  //border-top: 1px solid $grey-color-dark;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.0);
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit / 4;
}

.footer-copyright {
  @include relative-font-size(0.7);
  margin-bottom: $spacing-unit / 2;
}

.contact-list {
  list-style: none;
  margin-left: 0;
}

.social-media-list {
  list-style: none;
  margin-left: 0;
  height: 80%;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;

img {
      max-width: 80%;
      max-height: 80%;
      width:auto;
      height: auto;
      margin-left: auto;
      margin-right: auto;
}
}

.footer-img {
      max-width: 80%;
      max-height: 80%;
      width:auto;
      height: auto;
      margin-left: auto;
      margin-right: auto;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

/**
 * Page content
 */
.page-content {
  //padding: $spacing-unit 0;
//  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
//  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
//  margin-right: auto;
//  margin-left: auto;
//  padding-right: $spacing-unit;
//  padding-left: $spacing-unit;
//  @extend %clearfix;
//
//  @include media-query($on-laptop) {
//    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
//    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
//    padding-right: $spacing-unit / 2;
//    padding-left: $spacing-unit / 2;
//  }
  //background-color: $content-bg-color;
  flex: 1;
  display: flex;
}

.page-heading {
  @include relative-font-size(2);
}

.title-heading {
  @include relative-font-size(1.2);
  text-align: center;
  color: #ddd;
  //-webkit-text-stroke: 0.5px #1e87b4;
  //-webkit-font-smoothing: antialiased;
  text-shadow: 0 0 8px #0098ff;
}

.title {
    padding: 20px 0;
    
}

.guide-img-block {
    margin-top: 50px;
    margin-bottom: 30px;
}

.guide-img {
    padding: 5px 5px;
}

.centered-over-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 450;
    @include relative-font-size(1.65);
}


@media only screen and (max-width: 576px) {
  .guide-img { 
      max-width: 300px;
      max-height: 300px;
      width:auto;
      height: auto;
      margin-left: auto;
      margin-right: auto;
  }
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $mid-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.6);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.225);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}


.post-content {
  margin-bottom: $spacing-unit;

  h1 {
    padding-top: 200px;
    margin-top: -200px;
    @include relative-font-size(2.2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.8);
    }
  }

  h2 {
    padding-top: 200px;
    margin-top: -200px;
    @include relative-font-size(1.7);

    @include media-query($on-laptop) {
      @include relative-font-size(1.55);
    }
  }


  h3 {
    padding-top: 200px;
    margin-top: -200px;
    @include relative-font-size(1.425);

    @include media-query($on-laptop) {
      @include relative-font-size(1.275);
    }
  }

  h4 {
    padding-top: 200px;
    margin-top: -200px;
    @include relative-font-size(1.15);

    @include media-query($on-laptop) {
      @include relative-font-size(1.025);
    }
  }
}


.post-excerpt {

  h1 {
    padding-top: 200px;
    margin-top: -200px;
    @include relative-font-size(1.5);

    @include media-query($on-laptop) {
      @include relative-font-size(1.3);
    }
  }

  h2 {
    padding-top: 200px;
    margin-top: -200px;
    @include relative-font-size(1.3);

    @include media-query($on-laptop) {
      @include relative-font-size(1.0);
    }
  }


  h3 {
    padding-top: 200px;
    margin-top: -200px;
    @include relative-font-size(1.2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.0);
    }
  }

  h4 {
    padding-top: 200px;
    margin-top: -200px;
    @include relative-font-size(1.15);

    @include media-query($on-laptop) {
      @include relative-font-size(1.0);
    }
  }
}
