---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
    {%- if page.last_update or page.game_version -%}
      <p class="post-meta">
        {%- if page.last_update -%}
          <time class="dt-updated" datetime="{{ page.last_update | date_to_xmlschema }}" itemprop="dateUpdated">
            {%- assign months = "января|февраля|марта|апреля|мая|июня|июля|августа|сентября|октября|ноября|декабря" | split: "|" -%}
            {%- assign m = page.last_update | date: "%-m" | minus: 1 -%}
            {%- assign day = page.last_update | date: "%-d" -%}
            {%- assign month = months[m] -%}
            {%- assign year = page.last_update | date: "%Y" -%}
            Последнее обновление: {{ day }} {{ month }}, {{ year }}
          </time>
        {%- endif -%}
        {%- if page.last_update and page.wow -%}
          <span name="devider" class="devider">•&nbsp;</span>
        {%- endif -%}
        {%- if page.wow -%}
          для <span itemprop="game_version">{{ page.wow }}</span>
        {%- endif -%}
        {%- if page.author -%}
          {%- if page.last_update or page.wow -%}<br/>{%- endif -%}
         Автор: {{ page.author }} 
        {%- endif -%}
      </p>
    {%- endif -%}
  </header>

  {%- assign page_content=content -%}
  <!-- {%- include side_menu.html -%} -->
  <div class="post-content">
    {%- if page.toc == true -%}
      <h3>Содержание</h3>
      {%- include toc.html html=content class="toc" h_max=3 -%}
      <hr>
      <br>
    {%- endif -%}
    {{ content }}
  </div>

</article>
